/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
}

/* Fuente principal    */
@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams_Bold.ttf);
}
/* Menu Navegacion  index   */
.menuInicio ul {
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: caviar;
}

/* Estilo HEADER GENERAL */
header {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 193, 7);
}
header h1 {
  font-size: 50px;
  font-family: caviar;
  display: inline;
}
header div h2 {
  text-align: center;
  font-family: caviar;
  font-size: 20px;
}
header h3 a {
  font-size: 20px;
}

/* lOGO INDEX */
.titulo img {
  height: 100px;
}

.btn-primar {
  background-color: yellowgreen;
}

/* Menu Navegacion  index   */
.menuInicio ul {
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: caviar;
}

/* Estilo Ingreso Usuario  */
.ingreso {
  display: flex;
  justify-content: center;
}

.navbar {
  font-size: 20px;
  justify-content: center;
}

#navbarNavAltMarkup {
  justify-content: center;
}

/* Estilos MAIN */
.mainindex {
  height: 1000px;
  background-color: rgb(132, 174, 228);
}
.mainindex img {
  height: 600px;
  width: 200px;
  margin-top: 100px;
}

.mainBanio {
  height: 1200px;
  background-color: rgb(167, 118, 199);
}
@media (max-width: 805px) {
  .mainBanio {
    height: 2500px;
  }
}
@media (max-width: 1200px) {
  .mainBanio {
    height: 1700px;
  }
}

.mainElectro {
  height: 1200px;
  background-color: rgb(48, 39, 92);
}
@media (max-width: 805px) {
  .mainElectro {
    height: 1800px;
  }
}
@media (max-width: 1200px) {
  .mainElectro {
    height: 1700px;
  }
}

.mainConstruccion {
  height: 1200px;
  background-color: rgb(123, 136, 136);
}
@media (max-width: 805px) {
  .mainConstruccion {
    height: 1800px;
  }
}
@media (max-width: 1200px) {
  .mainConstruccion {
    height: 1700px;
  }
}

.mainCocina {
  height: 1200px;
  background-color: rgb(178, 231, 232);
}
@media (max-width: 805px) {
  .mainCocina {
    height: 1800px;
  }
}
@media (max-width: 1200px) {
  .mainCocina {
    height: 1700px;
  }
}

.mainJardin {
  height: 1200px;
  background-color: rgb(132, 182, 146);
}
@media (max-width: 805px) {
  .mainJardin {
    height: 1800px;
  }
}

/* Imagen Portada Sectores */
.portada {
  width: 100%;
  height: 400px;
  image-rendering: optimizeQuality;
  border-radius: 5px;
  border: double;
  border-style: solid;
}

/* Menu De compras */
.flex-center, .menuElectro, .menuJardin, .menuCocina, .menuConstruccion, .menuBanio {
  display: flex;
  justify-content: center;
  font-family: caviar;
}

.menuBanio {
  background-color: rgb(167, 118, 199);
}

.menuConstruccion {
  background-color: rgb(123, 136, 136);
}

.menuCocina {
  background-color: rgb(178, 231, 232);
}

.menuJardin {
  background-color: rgb(132, 182, 146);
}

.menuElectro {
  background-color: rgb(48, 39, 92);
}

.cajamenu {
  font-size: 25px;
  border-width: 4px;
  border-radius: 5px;
  margin: 40px;
  font-family: caviar;
}

/* Estilo caja sector Construccion  */
.caja {
  background-color: rgb(182, 212, 221);
  justify-content: space-between;
  text-align: center;
  border: double;
  height: 300px;
  width: 300px;
}
.caja div h2 {
  font-size: 15px;
  font-family: caviar;
}
.caja div h3 {
  font-size: 15px;
}
.caja img {
  height: 200px;
  width: 200px;
}

/* Grid Menu de Compras*/
#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  text-align: center;
  height: 100%;
  padding: 20px;
  margin: 20px;
  grid-gap: 20px;
}

/* Estilos cajas con Grid  */
.caja1 {
  background-color: rgb(182, 212, 221);
  justify-content: space-between;
  height: 320px;
  width: 200px;
  text-align: center;
  border: double;
  border-radius: 5px;
  font-size: 15px;
}
.caja1 h2 {
  font-size: 15px;
  font-family: caviar;
}
.caja1 h3 {
  font-size: 15px;
  font-family: lemon;
}
.caja1 div img {
  width: 100%;
}

button {
  color: blueviolet;
  background-color: rgb(230, 197, 55);
  font-family: lemon;
  border-radius: 10px;
  font-size: 10px;
}

a {
  color: rgb(18, 75, 197);
  text-decoration: none;
}

#footer2 {
  height: 200px;
  background-color: rgb(254, 193, 7);
  background-size: cover;
  text-align: center;
}
#footer2 h1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: caviar;
}

/* Redes sociales */
.redes {
  display: flex;
  justify-content: center;
  height: 30px;
}
.redes div img:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
}

/* Fuente principal    */
@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: lemon;
  src: url(/fonts/LEMONMILK-Regular.otf);
}
aside {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.offcanvas {
  visibility: inherit;
}

.offcanvas-header {
  background-color: rgb(189, 162, 43);
  display: flex;
  font-family: lemon;
  display: flex;
  justify-content: center;
}

.offcanvas-body {
  background-color: rgb(189, 162, 43);
  display: flex;
  justify-content: center;
  align-items: start;
}

.offcanvas-body img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

/* Estilo HEADER GENERAL */
/* Estilo cajas menu de compra   */

/*# sourceMappingURL=estilos.css.map */
