/*VARIABLES*/
#header2 {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 220, 174);
}
@media (min-width: 320px) and (max-width: 570px) {
  #header2 {
    height: 460px;
  }
}
@media (min-width: 570px) and (max-width: 990px) {
  #header2 {
    height: 500px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  #header2 {
    height: 400px;
  }
}
#header2 h1 {
  font-size: 50px;
  font-family: caviar;
  display: flex;
  justify-content: left;
}
#header2 a {
  font-family: caviar;
  text-decoration: none;
  font-size: 15px;
  padding-left: 10px;
}
#header2 h2 a {
  font-size: 10px;
  color: darkblue;
}
#header2 h3 a {
  font-size: 10px;
  color: darkblue;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  background-color: rgba(165, 127, 22, 0.301);
  border-radius: 5px;
  border: none;
  padding-left: 50px;
  font-family: lemon;
}

header {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 220, 174);
}
header h1 {
  font-size: 60px;
  font-family: caviar;
  display: inline;
  justify-content: center;
}
header div h2 {
  text-align: left;
  font-family: rosalia;
  font-size: 15px;
}
header h3 a {
  font-size: 20px;
}
header a {
  font-family: caviar;
  text-decoration: none;
}

/* lOGO INDEX */
.titulo img {
  height: 80px;
}

/* Estilos MAIN */
.mainindex {
  height: 900px;
  background-color: rgb(132, 174, 228);
}
@media (max-width: 805px) {
  .mainindex {
    height: 2500px;
  }
}
@media (max-width: 1200px) {
  .mainindex {
    height: 900px;
  }
}
@media (max-width: 576px) {
  .mainindex {
    height: 900px;
  }
}
.mainindex img {
  height: 600px;
  width: 400px;
  margin-top: 100px;
}
.mainindex aside button {
  color: blueviolet;
  background-color: rgb(230, 197, 55);
  font-family: lemon;
  border-radius: 5px;
  font-size: 10px;
}

.mainBanio {
  height: 1200px;
  background-color: rgb(167, 118, 199);
}
@media (min-width: 320px) and (max-width: 452px) {
  .mainBanio {
    height: 4400px;
  }
}
@media (min-width: 452px) and (max-width: 1200px) {
  .mainBanio {
    height: 2400px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  .mainBanio {
    height: 1800px;
  }
}

.row {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

.mainElectro {
  height: 1200px;
  background-color: rgb(91, 76, 162);
}
@media (min-width: 320px) and (max-width: 452px) {
  .mainElectro {
    height: 4400px;
  }
}
@media (min-width: 452px) and (max-width: 1200px) {
  .mainElectro {
    height: 2400px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  .mainElectro {
    height: 1800px;
  }
}

.mainConstruccion {
  height: 1200px;
  background-color: rgb(123, 136, 136);
}
@media (min-width: 320px) and (max-width: 452px) {
  .mainConstruccion {
    height: 4400px;
  }
}
@media (min-width: 452px) and (max-width: 1200px) {
  .mainConstruccion {
    height: 2400px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  .mainConstruccion {
    height: 1800px;
  }
}

.mainCocina {
  height: 1200px;
  background-color: rgb(178, 231, 232);
}
@media (min-width: 320px) and (max-width: 452px) {
  .mainCocina {
    height: 4400px;
  }
}
@media (min-width: 452px) and (max-width: 1200px) {
  .mainCocina {
    height: 2400px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  .mainCocina {
    height: 1800px;
  }
}

.mainJardin {
  height: 1200px;
  background-color: rgb(132, 182, 146);
}
@media (min-width: 320px) and (max-width: 452px) {
  .mainJardin {
    height: 4400px;
  }
}
@media (min-width: 452px) and (max-width: 1200px) {
  .mainJardin {
    height: 2400px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  .mainJardin {
    height: 1800px;
  }
}

/* Imagen Portada Sectores */
.portada {
  width: 100%;
  height: 400px;
  image-rendering: optimizeQuality;
  border-radius: 5px;
  border: double;
  border-style: solid;
}

.mainContacto {
  background-color: rgba(0, 0, 0, 0.308);
  height: 600px;
  background-image: url(/img/fondo\ herramientas.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 570px) {
  .mainContacto {
    height: 1800px;
  }
}
@media (min-width: 570px) and (max-width: 810px) {
  .mainContacto {
    height: 1200px;
  }
}
@media (min-width: 810px) and (max-width: 1200px) {
  .mainContacto {
    height: 1200px;
  }
}
.mainContacto button {
  color: rgb(35, 4, 65);
  background-color: rgba(164, 218, 131, 0.658);
  font-family: lemon;
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
}
.mainContacto .contacto {
  display: flex;
  flex-wrap: wrap;
}
.mainContacto .usuario {
  height: 390px;
  width: 600px;
  background-color: rgba(214, 201, 16, 0.767);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (min-width: 320px) and (max-width: 570px) {
  .mainContacto .usuario {
    height: 700px;
  }
}
.mainContacto .historia {
  height: 370px;
  width: 600px;
  background-color: rgb(224, 222, 203);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: dotted;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 570px) {
  .mainContacto .historia {
    height: 800px;
  }
}

/* Menu De compras */
.flex-center, .menuBanio .menuCocina .menuConstruccion .menuElectro .menuJardin {
  display: flex;
  justify-content: center;
  font-family: caviar;
}

.cajamenu {
  font-size: 25px;
  border-width: 4px;
  border-radius: 5px;
  margin: 40px;
  font-family: caviar;
}

.caja1 {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.297), rgba(6, 77, 105, 0.281));
  justify-content: space-between;
  height: 320px;
  width: 200px;
  text-align: center;
  border: double;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
}
@media (min-width: 320px) and (max-width: 452px) {
  .caja1 {
    margin: auto;
  }
}
.caja1 p {
  font-size: 15px;
  font-family: caviar;
}
.caja1 div img {
  width: 100%;
  height: 150px;
}
.caja1 button {
  color: blueviolet;
  background-color: rgb(230, 197, 55);
  font-family: lemon;
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
}
.caja1 button:hover {
  width: 150px;
  background-color: rgba(155, 236, 16, 0.267);
}

#footer2 {
  height: 200px;
  background-color: rgb(235, 220, 174);
  background-size: cover;
  text-align: center;
}
#footer2 p {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: caviar;
}
#footer2 a {
  font-size: 15px;
  font-family: caviar;
}

/* Redes sociales */
.redes {
  display: flex;
  justify-content: center;
  height: 60px;
}
.redes div img:hover {
  transform: scale(1.2);
}

/* Off canvas */
aside {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.offcanvas {
  visibility: inherit;
}

.offcanvas-header {
  background-color: rgb(189, 162, 43);
  display: flex;
  font-family: lemon;
  display: flex;
  justify-content: center;
}

.offcanvas-body {
  background-color: rgb(189, 162, 43);
  display: flex;
  justify-content: center;
  align-items: start;
}

.offcanvas-body img {
  height: 80px;
  width: 100px;
  margin-top: 10px;
}

@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: lemon;
  src: url(/fonts/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: rosalia;
  src: url(/fonts/Rosalia.otf);
}
* {
  margin: 0;
  padding: 0;
}

/* Fuente principal    */
/* Estilo HEADER GENERAL */
/* Estilo cajas menu de compra   */

/*# sourceMappingURL=estilos.css.map */
