#headerindex {
    height: 280px;
    display: flex;
    flex-direction: column;
    background-color: $fondo-menu;
    @media (min-width: 320px) and (max-width: 452px) {
        height: 500px;}
    
    h1{
        font-size: 60px;
        font-family: $font-principal;
        display: inline; 
        justify-content: center;
}

}





header {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: $fondo-menu;
    @media (max-width: 576px) {
        height: 380px;}
    @media (max-width: 805px) {
            height: 380px;}
    @media (max-width: 1200px) {
                height: 300px;}
    h1{
        font-size: 60px;
        font-family: $font-principal;
        display: inline; 
        justify-content: center;
}
    div h2{
            text-align: left;
            font-family: rosalia;
            font-size: 15px;    }
            h3 a{
                font-size: 20px;
}   
a{
    font-family: $font-principal;
    text-decoration: none;
}
}
/* lOGO INDEX */
.titulo{
    img{
        height: 120px;
}
}

