#header2{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: $fondo-menu;
    @media (min-width: 320px) and (max-width: 570px) {
        height: 460px;}   
    @media (min-width:570px) and (max-width: 990px) {
            height: 500px;}
    @media (min-width: 990px) and (max-width: 1200px) {
                height: 400px;}
    h1{
        font-size: 50px;
        font-family: $font-principal;
        display: flex;  
        justify-content: left;

}

a{
    font-family: $font-principal;
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
}

h2{
    a{
        font-size: 10px;
        color: darkblue;
    }
}
h3{
    a{
        font-size: 10px;
        color: darkblue;
    }
    }
}

.navbar{
    display: flex;
    justify-content: center;
}
.navbar-toggler{
    background-color: rgba(165, 127, 22, 0.301);
    border-radius: 5px;
    border: none;
    padding-left: 50px;
    font-family: lemon;
}



header {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: $fondo-menu;
    h1{
        font-size: 60px;
        font-family: $font-principal;
        display: inline; 
        justify-content: center;
}
    div h2{
            text-align: left;
            font-family: rosalia;
            font-size: 15px;    }
            h3 a{
                font-size: 20px;
}   
a{
    font-family: $font-principal;
    text-decoration: none;
}
}
/* lOGO INDEX */
.titulo{
    img{
        height: 80px;
}
}

