/* Estilo Ingreso Usuario  */
.ingreso{
    display: flex;
    justify-content: center;
}

.navbar{
    font-size: 20px;
    justify-content: center;

}
#navbarNavAltMarkup{
    justify-content: center;

}