/* Estilo Ingreso Usuario  */
.ingreso{
    display: flex;
    justify-content: center;
    font-family: lemon;
    font-size: 15px;
}

.navbar{
    font-size: 10px;
    justify-content: center;

}
#navbarNavAltMarkup{
    justify-content: center;

}