/* Estilos MAIN */
.mainindex{
    height: 900px;
    background-color: rgb(132, 174, 228);
    @media (max-width: 805px) {
        height: 2500px;}
    @media (max-width: 1200px) {
            height: 900px;}
    @media (max-width: 576px) {
                height: 900px;} 
    img{
        height: 600px;
        width: 200px;
        margin-top: 100px;
}
}

.mainBanio{
    height: $height-main;
    background-color: map-get($fondos , menuBanio ) ;
    @media (max-width: 805px) {
        height: 1200px;}
    @media (max-width: 1200px) {
            height: 1800px;}
    @media (max-width: 576px) {
                height: 2500px;} 

}

.mainElectro{
    height: $height-main;
    background-color: map-get($fondos , menuElectro ) ;
    @media (max-width: 805px) {
        height: 1800px;}
    @media (max-width: 1200px) {
            height: 1800px;}   
    @media (max-width: 576px) {
                height: 2500px;}     

}

.mainConstruccion{
    height: $height-main;
    background-color: map-get($fondos , menuConstruccion ) ;

    @media (max-width: 805px) {
        height: 1800px;}
    @media (max-width: 1200px) {
            height: 1800px;} 
    @media (max-width: 576px) {
                height: 2500px;}            

}

.mainCocina {
    height: $height-main;
    background-color: map-get($fondos , menuCocina ) ;
    @media (max-width: 805px) {
        height: 1800px;}
    @media (max-width: 1200px) {
            height: 1800px;}     
    @media (max-width: 576px) {
                height: 2500px;} 

}
.mainJardin {
    height: $height-main;
    background-color: map-get($fondos , menuJardin ) ;
    @media (max-width: 805px) {
        height: 1800px;}
    @media (max-width: 1200px) {
                height: 1800px;}     
    @media (max-width: 576px) {
                    height: 2500px;} 
}
/* Imagen Portada Sectores */
.portada{
    width: 100%;
    height: 400px;
    image-rendering: optimizeQuality;
    border-radius: 5px;
    border: double;
    border-style: solid;

}