/* Menu De compras */

.flex-center{
    display:flex;
    justify-content: center;
    font-family: $font-principal ;
}


.menuBanio .menuCocina .menuConstruccion .menuElectro .menuJardin{
    @extend .flex-center;
    }




.cajamenu{
    font-size: 25px;
    border-width: 4px;
    border-radius: 5px;
    margin: 40px;
    font-family: $font-principal;
    

}
.caja1 {
background-image: linear-gradient(to top,rgba(255, 255, 255, 0.297),rgba(6, 77, 105, 0.281));
justify-content: space-between;
height: 320px;
width: 200px;
text-align: center;
border: double;
border-radius: 5px;
font-size: 17px;
padding: 20px;



p{
    font-size: 15px;
    font-family: $font-principal;
}

div {
    img{
        width: 100%;
        height: 150px;
    }
}



button{
    color: blueviolet;
    background-color: rgb(230, 197, 55);
    font-family: lemon;
    border-radius: 5px;
    font-size: 10px;
    padding: 3px;

&:hover{
    width:150px;
    background-color: rgba(155, 236, 16, 0.267);
}
}
}