@import "variables";
@import "header";
@import "menuinicio";
@import "ingresousuario";
@import "main";
@import "menucompras";
@import "footer";

* {
    margin: 0;
    padding: 0;
}
 /* Fuente principal    */
@font-face {
    font-family: caviar;
    src: url(/fonts/CaviarDreams_Bold.ttf);}
@font-face{
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
}    

aside {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.offcanvas{
    visibility: inherit;
}
.offcanvas-header{
    background-color:  rgb(189, 162, 43);
    display: flex;
    font-family: lemon;
    display: flex;
    justify-content: center;
}
.offcanvas-body {
    background-color: rgb(189, 162, 43);
    display: flex;
    justify-content: center;
    align-items:start;
}

.offcanvas-body img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}




 /* Estilo HEADER GENERAL */   





/* Estilo cajas menu de compra   */


