@import "variables";
@import "header";
@import "menuinicio";
@import "ingresousuario";
@import "main";
@import "menucompras";
@import "footer";
@import "offcanvas";
* {
    margin: 0;
    padding: 0;
}
 /* Fuente principal    */
@font-face {
    font-family: caviar;
    src: url(/fonts/CaviarDreams_Bold.ttf);}
@font-face{
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
}    




 /* Estilo HEADER GENERAL */   





/* Estilo cajas menu de compra   */


