@font-face {
    font-family: caviar;
    src: url(/fonts/CaviarDreams_Bold.ttf);}
@font-face{
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
}    
@font-face{
    font-family: rosalia;
    src: url(/fonts/Rosalia.otf);
}